h1.menu-title {
  display: none;
}

h3 {
  margin-block-start: 30px;
  writing-mode: horizontal-tb;
}

h2 {
  margin-block-start: 40px;
  border-bottom: 1px #f0f0f0 solid;
  writing-mode: horizontal-tb;
}

.content main {
  max-width: 780px;
}
