name: Book

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - 'docs/book/src/**'
      - 'docs/book/custom.css'
      - 'docs/book/book.toml'

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  cancel-in-progress: false
  group: "gh-pages"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MDBOOK_VERSION: 0.5.2
    steps:
      - uses: actions/checkout@v6

      - name: Install mdbook
        run: |
          mkdir mdbook
          curl -Lf https://github.com/rust-lang/mdBook/releases/download/v${MDBOOK_VERSION}/mdbook-v${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH

      - name: Setup Pages
        uses: actions/configure-pages@v5
        id: pages

      - name: Build site
        run: |
          mdbook build docs/book -d target/docs/book

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/docs/book

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
